.container {
    display: flex;
}

.column {
float: left;
width: 25%;
margin-top: 2rem;
padding: 2px;
}

h1 {
    text-align: center;
}

img {
    height: 300px;
    width: 300px;
    align-content: center;
    margin-left: 2rem;
}

.clear {
    clear: both;
}

/* Tablet */ 
@media only screen and (min-device-width: 768px){
    body {
        font-size: 15px;
    }
    }

/* Desktop */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 15px;
    }
    }