/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap")
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #f1feee;
}

/* Pre CSS */
.flex {
    display: flex;
    align-items: center;
}

.nav_image {
    min-width: 55px;
    justify-content: center;
}

.nav_image img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #fff;
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.sidebar.close {
    width: calc(55px + 20px);
}

.logo_items {
    gap: 5px;
}

.logo_name {
    font-size: 22px;
    color: #333;
    font-weight: 500px;
    transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon, 
.sidebar.close #sidebar-close, {
    opacity: 0;
    pointer-events: none;
}

#sidebar-close {
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

#sidebar-close {
    display: none;
    color: #866363;
}

.menu_container {
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100% - 82px);
}

.menu_container: ::-webkit-scrollbar{
    display: none;
}

.menu_title {
    position: relative;
    height: 50px;
    width: 55px;
}

.menu_title .title {
    margin-left: 15px;
}

.sidebar.close .title {
    opacity: 0;
}

.menu_title .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #aaa;
    transition: all 0.3s ease;
}

.menu_title .line {
    opacity: 0;
}

.sidebar.close .line {
    opacity: 1;
}

.item {
    list-style: none;
}

.link {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #707070;
}

.link:hover {
    color: #fff;
    background-color: #2c9734;
}

.link span {
    white-space: nowrap;
}

.link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sidebar_profile {
    /* background-color: grey; */
    padding-top: 20px;
    margin-top: 20px;
    gap: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar_profile .name {
    font-size: 18px;
    color: #333;
}

.sidebar_profile .email {
    font-size: 15px;
    color: #333;
}

/* Navbar */
.navbar {
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    background: #fff;
    padding: 10px 20px;
    border-radius: 0 0 8px 8px;
    justify-content: space-between;
}

#sidebar-open {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.search_box {
    height: 46px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 18px;
    color: #333;
}

.navbar img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
    .navbar {
        left: 65%;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        left: 0;
        z-index: 1000;
    }

    .sidebar.close {
        left: -100%;
    }

    #sidebar-close {
        display: block;
    }
    #lock-icon {
        display: none;
    }

    .navbar {
        left: 0;
        max-width: 100%;
        transform: translateX(0%);
    }

    #sidebar-open {
        display: block;
    }
}

.card {
    display: inline-table ;
    justify-content: space-evenly;
    grid-template-columns: 300px;
    grid-template-rows: 330px 300px 40px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border:3px solid #1abc45;
}

/*height card*/
.card-text        
{
    grid-area: text;
    margin: 25px;
}

.card-text p {
    color: rgb(89, 185, 91);
    font-family: "Poppins", sans-serif;
    font-size:17px;
    font-weight: 300;
    border:"3px solid #73AD21";
    text-align: center
}

.card-text h2 {
    margin-top:20px;
    font-size:23px;
}

/* lenght of card*/
.card {
    margin-left: 50px;
    margin-top:5px;
    right: -30%;
    width: 70%;
    height: flex;
}

table {
    margin-left: 350px;
    margin-top:50px;
    display: flex;
}

tr {
    padding: 1rem;
    display: flex;
}

